@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #0b0c20;
}

body, input, button, a {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

@layer components {
  .link {
    @apply cursor-pointer p-1 border border-transparent rounded-sm hover:border hover:border-white;
  }
  .button {
    @apply p-2 text-xs md:text-sm bg-gradient-to-b from-yellow-200 to-yellow-400 border border-yellow-300 rounded-sm focus:outline-none focus:ring-2 focus:ring-yellow-500 active:from-yellow-500;
  }
}
